
.boxLogin{
    width: 30%;
    margin-top: 20px;
    }
    
    .nameInput, .passwordInput{
        /* margin-left: 35%; */
    /* width: 30%; */
        opacity: 0.9;
    }
    
    .linhaLogin{
        margin-right: 230px;
        width: 20%;
        margin-left: 40%;
    }
    
    .nameInput:hover{
        opacity: 1;
    }
    
    #emailHelp{
        margin-left: 45%;
    }
    
    .passwordInput{
        opacity: 0.9;
    }
    
    .passwordInput:hover{
        opacity: 1;
    }
    
    .buttonRegist{
        width: 25%;
        border-radius: 15px;
        opacity: 0.6;
        margin-left: 38%;
    }
    
    .buttonRegist:hover {
        opacity: 1;
      }
    
    .tabelazinha{
        margin-top: 40px;
        width: 100%;
        text-align: center;
    }

    .boxTable{
        margin-left: 25%;
    }

    .registro{
        margin-left: 43%;
    }

    .td{
        height: 70px;
        
    }

    .th{
        font-size: 25px;
    }

    .total{
        transition: 30ms;
        background-color: #FFFFFF;
        border-radius: 6px;
        -webkit-box-shadow: 2px 2px 8px #999; 
		-moz-box-shadow: 2px 2px 8px #999;
			box-shadow: 2px 2px 8px #999;	
    }