
.boxLogin{
    width: 30%;
    margin-top: 20px;
    }
    
    .nameInput, .passwordInput{
        /* margin-left: 35%; */
    /* width: 30%; */
    transition: all 0.5s;
    opacity: 0.9;
    }
    
    .linhaLogin{
        margin-right: 230px;
        width: 20%;
        margin-left: 40%;
    }
    
    .nameInput:focus{
        opacity: 1;
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    
    #emailHelp{
        margin-left: 45%;
    }
    
    .passwordInput{
        opacity: 0.9;
    }
    
    .passwordInput:focus{
        opacity: 1;
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    
    .buttonRegist{
        width: 25%;
        border-radius: 15px;
        opacity: 0.6;
        margin-left: 38%;
    }
    
    .buttonRegist:hover {
        opacity: 1;
      }
    
    .tabelazinha{
        margin-top: 40px;
        width: 100%;
        text-align: center;
    }

    .boxTable{
        margin-left: 25%;
    }

    .registro{
        margin-left: 43%;
    }

    .td{
        height: 70px;
        
    }

    .th{
        font-size: 25px;
    }

    .total{
        transition: 30ms;
        background-color: #FFFFFF;
        border-radius: 6px;
        -webkit-box-shadow: 2px 2px 8px #999; 
		-moz-box-shadow: 2px 2px 8px #999;
			box-shadow: 2px 2px 8px #999;	
    }

    .seleciona, .exclui{
        border-radius: 5px;
        width: 40%;
        margin-top: 30%;
    }

    .seleciona{
        background-color: #15d64f;
        -webkit-box-shadow: 2px 2px 5px #999; 
		-moz-box-shadow: 2px 2px 5px #999;
			box-shadow: 2px 2px 5px #999;	
    }

    .exclui{
        margin-left: 10%;
        background-color: #db2c2c;
           -webkit-box-shadow: 2px 2px 5px #999; 
		-moz-box-shadow: 2px 2px 5px #999;
			box-shadow: 2px 2px 5px #999;	
    }