<div class="container rounded containerContainer">
    <div class="row containerRow">
        <div class="col-6 containerCol">
                    <br>
                    <form>
            <h1 class="registro">Sign In</h1>
                <hr>
                    <br>
                <input type="text" required="required" [(ngModel)]="nome" class="form-control" id="usuarioLogin" name="nome" placeholder="Login">
                        <small id="small">Put here your Login</small>
                    <br>
                <input type="password" required="required" [(ngModel)]="senha" class="form-control" id="usuarioSenha" name="senha" placeholder="Password">
                        <small id="small">Put here your Password</small>
                    <br>
                <input type="checkbox" id="check">
                        <small>Manter-me logado</small>
                    <br>
                    <br>
                <input type="submit" (click)=handleLogin() class="btn btn-primary" id="botaoLogin">       
            </form>
        </div>
    </div>
</div>
