.containerContainer{
    margin-top: 5%;

}

.containerCol{
    margin-left: 25%;
    background-color: white;
    border-radius: 6px;
}

#usuarioLogin, #usuarioSenha{
    margin-top: 8%;
} 

#botaoLogin{
    display: block; 
    margin: 0 auto; 
    margin-bottom: 2%;
    margin-top: 4%;
}

.registro{
    text-align: center;
}

#check{
    margin-top: 8%;
    margin-left: 2%;
}

#small{
    margin-left: 2%;
}
