.boxLogin{
    width: 30%;
    margin-top: 20px;
}

.total{
    transition: 30ms;
    background-color: #FFFFFF;
    border-radius: 6px;
    -webkit-box-shadow: 2px 2px 8px #999; 
    -moz-box-shadow: 2px 2px 8px #999;
        box-shadow: 2px 2px 8px #999;	
}
    
.nameInput{
    opacity: 0.9;
}

.linhaLogin{
    margin-right: 230px;
    width: 20%;
    margin-left: 40%;
}

.nameInput:focus{
    opacity: 1;
}

.focus{
    transition: all 0.5s;
}

.focus:focus{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

#razaoHelp{
    margin-left: 43%;
}

#emailHelp, #nomeHelp, #enderecoHelp, #telefoneHelp, #cnpjHelp{
    margin-left: 45%;
}

.passwordInput{
    opacity: 0.9;
}

.passwordInput:hover{
    opacity: 1;
}

.buttonRegist{
    width: 25%;
    border-radius: 15px;
    opacity: 0.6;
    margin-left: 38%;
}

.buttonRegist:hover {
    opacity: 1;
}

.tabelazinha{
    margin-top: 40px;
}

.registro{
    margin-left: 38%;
}

.tabelazinha{
    margin-top: 40px;
    width: 100%;
    text-align: center;
}
.td{
    height: 70px;
    
}

.th{
    font-size: 25px;
}

